*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: aliceblue;
}
.main{
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.heading{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
  padding: 10px;
}
.heading div{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: silver;
}
.arrange{
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 10px;
  margin: 5px;
}
.items{
  display: grid;
  grid-template-columns: auto auto auto;
}
input, select{
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.danger{
  background: red;
  border-radius: 5px;
  border: none;
}
.success{
  background: green;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
button:hover{
  cursor: pointer;
  opacity: 0.7;
}
.footer{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr;
}
.footer-inner{
  display: grid;
  grid-template-columns: auto auto;
}
